.error {
  color: red;
}

.news-source-list-item {
  cursor: pointer;
}

.news-source-list-item:hover {
  background-color: #eceeef;
}

.article-list {
  margin-bottom: 6px !important;
}

.jumbotron { 
  margin-bottom: 15px !important;
  padding: 17px !important;
  padding-left: 20px !important;
}
