html { 
  margin-left: calc(100vw - 100%); 
}

.error {
  color: red;
}

.news-source-list-item {
  cursor: pointer;
}

.news-source-list-item:hover {
  background-color: #eceeef;
}

.article-list {
  margin-bottom: 6px !important;
}

.jumbotron { 
  margin-bottom: 15px !important;
  padding: 17px !important;
  padding-left: 20px !important;
}

.news-source-header {
  background-color: #eceeef !important;
  font-weight: bold;
  cursor: pointer;
}

.navbar {
  margin-bottom: 0px !important;
}

.col-md-3 {
  padding-left: 0px !important;
}

.float-right {
  float: right;
}

.list-group-item {
  float: right !important;
}

.panel-body {
  padding: 0px !important;
}

button.list-group-item {
  border-right: 0px;
  border-left: 0px;
}

button.list-group-item:first-child {
  border-top: 0px;
}

button.list-group-item:last-child {
  border-bottom: 0px;
}
